<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hello {{title}} - Nunjucks </h1>

    <br><hr><br>

    <!-- 내부 변수 -->
    {% set node = 'Node' %}
    {% set js = 'JavaScript'%}
    <h2> {{node}} &nbsp;-&nbsp; {{js}}</h2>

    <br><hr><br>

    <!-- 꺽쇠 괄호 태그의 유무 (safe)-->

    <h3>{{'<strong>with escape</strong>'}}</h3>
    <h3>{{'<strong>without escape </strong>' | safe}}</h3>

    <br><hr><br>

    <!-- 반복 문 - 중괄호 - 퍼센트 안에 for in 작성. index는 loop.index-->
    {%set fruit=['사과', '배', '오렌지', '바나나', '복숭아']%} <!-- nunjucks 배열 생성-->
    <ul>
        {% for item in fruit %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for item in fruit %}
            <li>{{loop.index}}번째 {{item}}</li>
        {% endfor %}
    </ul> 

    <br><hr><br>

    <!-- 조건문 -->
    {% set isLogged = true%}
    {% if isLogged %}
        <h3> 로그인 되었습니다. </h3>
    {% else %}
        <h3>로그인이 필요합니다.</h3>
    {% endif %}

    {% set fruit = '' %}
    {% if fruit === 'apple'%}
        <h3> 사과입니다. </h3>
    {% elif fruit === 'banana' %}
        <h3>바나나입니다.</h3>
    {% elif orange === 'orange' %}
        <h3>오렌지입니다.</h3>
    {% else %}
        <h3>Undefined</h3>
    {% endif %}
</body>
</html>