<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
        <main>
            <h1> Layout file </h1>
            <h2> Here is the Layout.html <br>
                the extend contents will follow 
            </h2>
            The start of the extended contents
                <hr>
                    {% block content %}
                    {% endblock %}    
                <hr>
            The end of the extended contents
            <h2> This is the final Layout contents</h2>
        </main>
<hr>
</body>
</html>