{%extends 'layout.html'%}
{%block content%}

<div class="timeline">
    {%if user%}
        <div>
            <form id="post-form" action="/post" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <textarea id="twit" name="content" maxlength="140"></textarea>
                </div>
                <div class="img-priveiw">
                    <img id="img-priview" src="" style="display:none; width:250px;" alt="미리보기">
                    <input id="img-url" type="hidden" name="url">
                </div>
                <div>
                    <label id="img-label" for="img">사진업로드</label>
                    <input id="img" type="file" accept="image/*">
                    <button id="post-btn" type="submit" class="btn">포스팅</button>
                </div>
            </form>
        </div>
    {%else%}
    {%endif%}
    <div class="twits">
        <form id="hashtage-form" action="/hashtag">
            <input type="text" name="hashtag" placeholder="태그 검색">
            <button class="btn">검색</button>
        </form>
        <br/>
        {% for post in posts %}
        <div class="twit">
            <!-- 아이디 닉네임 -->
            <input type="hidden" value="{{post.id}}" class="twit-id">
            <input type="hidden" value="{{post.UserId}}" class="twit-user-id">
            <div class="twit-author" style="font-weight: bold; font-family: Verdana;">
                {{post.id}} &nbsp;-&nbsp; {{post.User.nick}}
            </div>
            <div class="twit-content" style="font-weight: bold; font-family: Verdana;">
                <pre>{{post.content}}</pre>
            </div>

            <!-- 팔로우 버튼 -->
            {% if not followerIdList.includes(post.User.id) and post.User.id !== user.id %}
                <!--followerIdList에 게시물 작성자가 없고 작성자가 로그인유저가 아니라면-->
                <button class="twit-follow">팔로우</button>
            {% endif %}

            <!-- 이미지 -->
            {% if post.img %}
                <div class="twit-img">
                    <img src="{{post.img}}">
                </div>
            {% endif %}
            
        </div>
        {% endfor %}
    </div>
</div>


{%endblock%}
{%block script%}
<script type="text/javascript">
    document.getElementById('img').addEventListener('change',(e)=>{
        const formData = new FormData()
        formData.append('img', e.target.files[0]);
        axios.post('/post/img', formData)
        .then((res)=>{
            document.getElementById('img-url').value = res.data.url
            document.getElementById('img-priview').src = res.data.url
            document.getElementById('img-priview').style.display = 'inline'
        })
        .catch((err)=>{ console.error(err) })
    })

    document.querySelectorAll('.twit-follow').forEach(function(tag){
        //querySelector로 .twit-follow를 모두 선택후 
        //하나씩 tag에 전달하며 익명함수 실행 
        //각 버튼에 모두 click 이벤트 리스너 추가
        tag.addEventListener('click', async function(){
            const myid = document.querySelector('#my-id') 
            //로그인 된 경우 layout.html 에서 보여지는 태그
            if(myid) { 
                const userId = tag.parentNode.querySelector('.twit-user-id').value //게시물 작성자
                if(userId !== myid.value) {
                    const answer = confirm('팔로우할까요?');
                    if(answer) {
                        axios.post(`/user/follow/${userId}`)
                        .then(()=>{ location.reload() })
                        .catch((err)=>{ console.error(err) })
                    }
                }
            }
        })
    })
</script>
{%endblock%}